.body {
    width: 2000px;
    height: 2000px;
    /* 항상 부모태그는 position이 있어야 함. 
    그것을 absolute로 줌. */
    position: relative;
}


.container {
    width: 1000px;
    height: 1000px;
    border: 1px solid black;

}


.wrapper {
    width: 500px;
    height: 500px;
    margin: 250px auto;
    /* position: relative; */
    border: 1px solid black;
}

.box {
    position: absolute;
    width: 50px;
    height: 50px;
}

#box1 {
    top: 0;
    left: 0;
    background-color: orange;
}

#box2 {
    top: 0;
    right: 0;
    background-color: aqua;
}

#box3 {
    bottom: 0;
    left: 0;
    background-color: lightgreen;
}

#box4 {
    bottom: 0;
    right: 0;
    background-color: blueviolet;
}

#box5 {
    top: 100px;
    left: 100px;
    background-color: gold;
}