div {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin-right: 20px;
}


.box1 {
    background-color: orange;
}

.box2 {
    background-color: aqua;
    /* visibility: hidden; */
    visibility: visible;
    display: none; /* 이건 아예 공간도 삭제해버림 */
}

.box3 {
    background-color: blue;
}