div {
    width: 500px;
    height: 300px;
}

.box1 {
    /* 타원으로 만든다. */
    background: red;
    background: -webkit-radial-gradient(white, yellow, red);
    background: -moz-radial-gradient(white, yellow, red);
    background: -o-radial-gradient(white, yellow, red);
    background: radial-gradient(white, yellow, red);
}

.box2 {
    /* 원형으로 만들어 주겠다. */
    background: red;
    background: -webkit-radial-gradient(circle, white, yellow, red);
    background: -moz-radial-gradient(circle, white, yellow, red);
    background: -o-radial-gradient(circle, white, yellow, red);
    background: radial-gradient(circle, white, yellow, red);
}