div {
    width: 300px;
    height: 300px;
    margin: 20px;
}

.box1 {
    background: gray;
    background: -webkit-repeating-radial-gradient(white, gray 20px);
    background: -moz-repeating-radial-gradient(white, gray 20px);
    background: -o-repeating-radial-gradient(white, gray 20px);
    background: repeating-radial-gradient(white, gray 20px);
}

.box2 {
    background: gray;
    /* white, gray 반복되는 원형그라디언트 */
    background: -webkit-repeating-radial-gradient(white, white 20px, gray 20px, gray 40px);
    background: -moz-repeating-radial-gradient(white, white 20px, gray 20px, gray 40px);
    background: -o-repeating-radial-gradient(white, white 20px, gray 20px, gray 40px);
    background: repeating-radial-gradient(white, white 20px, gray 20px, gray 40px);
}

