/* name 속성을 가지고 있는 모든 input 태그 선택 */
input[name] {
    width: 100px;
    height: 100px;
    color: blue;
}

/* name="userId"인 input 태그 모두 선택 */
/* 태그를 한방에 잡고 선택도 가능함. */
/* 태그 안에 있는 속성이나 속성선택자 사용 */
/* input[name="userId"] {
    font-size: 20px;
    font-weight: bold;
    border: 3px dotted blue;
    background-color: orange;
} */
/* 
.id나class명도가능[name="userId"] {
    font-size: 20px;
    font-weight: bold;
    border: 3px dotted blue;
    background-color: orange;
} */

#userId[name="userId"] {
    font-size: 20px;
    font-weight: bold;
    border: 3px dotted blue;
    background-color: orange;
}

/* #userPw */
